---
import './styles.css';
---

<section class="secured">
  <div class="container">
    <div class="secured-info">
      <h2 class="secured-heading">Your DogeCard is Secured by</h2>
    </div>
  </div>
</section>
