---
import Heading from 'components:Heading/index';
import './styles.css';
---

<section class="secured">
  <div class="container">
    <div class="secured-info d-flex flex-column">
      <Heading size="sm" className="secured-heading"
        >Your DogeCard is Secured by
      </Heading>
      <div
        class="secured-content d-flex flex-column justify-content-center text-center"
      >
        <div class="secured-item d-flex flex-column">
          <div class="secured-icon fdic d-flex mg-auto">
            <img src="assets/images/icons/fdic-secured.svg" alt="fdic" />
          </div>
          <p class="secured-description d-flex">
            $250,000 FDIC insured Evolve Bank & Trust
          </p>
        </div>
        <div class="secured-item d-flex flex-column">
          <div class="secured-icon authentication d-flex mg-auto">
            <img
              src="assets/images/icons/authentication-secured.svg"
              alt="authentication"
            />
          </div>
          <p class="secured-description d-flex">
            Bank-grade encryption and authentication
          </p>
        </div>
        <div class="secured-item d-flex flex-column">
          <div class="secured-icon d-flex mg-auto">
            <img src="assets/images/icons/visa-secured.svg" alt="visa" />
          </div>
          <p class="secured-description d-flex">
            Fraud Protection Zero-Liability guarantee
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
