---
import './styles.css';
---

<section class="secured">
  <div class="container">
    <div class="secured-info">
      <h2 class="secured-heading">Your DogeCard is Secured by</h2>
      <div class="secured-content">
        <div class="secured-item">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="assets/images/icons/fdic-md.svg"
            />
            <img
              class="secured-icon"
              src="assets/images/icons/fdic-sm.svg"
              alt="fdic"
            />
          </picture>
          <p class="secured-text secured-text-fdic">
            $250,000 FDIC insured Evolve Bank & Trust
          </p>
        </div>
        <div class="secured-item">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="assets/images/icons/authentication-md.svg"
            />
            <img
              class="secured-icon"
              src="assets/images/icons/authentication-sm.svg"
              alt="authentication"
            />
          </picture>
          <p class="secured-text">Bank-grade encryption and authentication</p>
        </div>
        <div class="secured-item">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="assets/images/icons/visa-md.svg"
            />
            <img
              class="secured-icon visa-icon"
              src="assets/images/icons/visa-sm.svg"
              alt="visa"
            />
          </picture>
          <p class="secured-text secured-text-visa">
            Fraud Protection Zero-Liability guarantee
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
