---
import Heading from 'components:Heading/index';
import './styles.css';
---

<section class="secured">
  <div class="container">
    <div class="d-flex-column secured-info">
      <Heading size="sm" className="secured-heading">
        Your DogeCard is Secured by
      </Heading>
      <div class="d-flex text-center secured-content">
        <div class="d-flex secured-item">
          <div class="d-flex">
            <img
              class="secured-icon"
              src="assets/images/icons/secured-fdic.svg"
              alt="FDIC"
            />
          </div>
          <p class="d-flex secured-description">
            $250,000 FDIC insured Evolve Bank & Trust
          </p>
        </div>
        <div class="d-flex secured-item">
          <div class="d-flex secured-icon">
            <img
              src="assets/images/icons/secured-authentication.svg"
              alt="Authentication"
            />
          </div>
          <p class="d-flex secured-description">
            Bank-grade encryption and authentication
          </p>
        </div>
        <div class="d-flex secured-item">
          <div class="d-flex">
            <img
              class="secured-icon"
              src="assets/images/icons/secured-visa.svg"
              alt="VISA"
            />
          </div>
          <p class="d-flex secured-description">
            Fraud Protection Zero-Liability guarantee
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
