.secured-info {
  padding: 0;
}

.secured-heading {
  font-size: var(--fontSizeLg);
  line-height: 32px;
  font-weight: var(--fontWeightBold);
  margin: 80px auto;
}

.secured-content {
  background-color: var(--colorSecondary);
  border-radius: var(--borderRadiusMd);
  padding-bottom: 50px;
}

.secured-description {
  width: 200px;
  font-size: var(--fontSizeBase);
  line-height: 30px;
  font-weight: var(--fontWeightNormal);
  margin: 27px auto;
}

.secured-item {
  margin-top: 50px;
}

.secured-description-visa {
  margin-top: 0;
  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .secured-heading {
    font-size: 24px;
    line-height: 40px;
  }

  .secured-item {
    display: flex;
    flex-direction: column-reverse;
  }

  .secured-icon {
    max-width: 140px;
    height: 86px;
    align-self: center;
    margin-top: 46px;
  }

  .secured-description {
    font-size: var(--fontSizeMd);
    margin-top: 80px;
    margin-bottom: 0;
  }

  .visa-icon {
    max-width: 193px;
    height: 193px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1028px) {
  .secured-heading {
    font-size: 36px;
    line-height: 50px;
  }

  .secured-content {
    flex-direction: row;
    justify-content: space-around;
  }

  .secured-item {
    flex-direction: column;
  }

  .secured-description {
    width: 230px;
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .secured-description-visa {
    margin-top: 0;
  }

  .secured-description-fdic {
    margin-top: 56px;
  }
}
