.secured-heading {
  margin: 80px auto;
}

.secured-content {
  background-color: var(--colorSecondary);
  border-radius: var(--borderRadiusLg);
  padding-bottom: 50px;
  flex-direction: column;
  justify-content: center;
}

.secured-description {
  max-width: 200px;
  line-height: var(--lineHeightLg);
  align-self: center;
}

.secured-item {
  flex-direction: column;
  margin-top: 50px;
}

.secured-description-visa {
  margin-top: 0;
  margin-bottom: 48px;
}

.secured-icon {
  max-width: 150px;
  align-self: center;
}

@media (min-width: 768px) {
  .secured-heading {
    font-size: var(--fontSizeXl);
    line-height: var(--lineHeight4Xl);
  }

  .secured-content {
    padding-top: 80px;
  }

  .secured-item {
    flex-direction: column-reverse;
    margin: 0;
  }

  .secured-description {
    font-size: var(--fontSizeMd);
    margin-bottom: 0;
  }

  .secured-icon {
    height: 160px;
    align-self: center;
  }
}

@media (min-width: 992px) {
  .secured-heading {
    font-size: var(--fontSize3Xl);
    line-height: var(--lineHeight6Xl);
  }

  .secured-content {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
    flex-direction: row;
    justify-content: space-around;
  }

  .secured-item {
    flex-direction: column;
  }

  .secured-description {
    max-width: 230px;
  }
}
