.secured-heading {
  margin: 70px auto 40px;
}

.secured-content {
  background-color: var(--colorSecondary);
  border-radius: var(--borderRadiusLg);
  padding-bottom: 0;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}

.secured-description {
  max-width: 200px;
  line-height: var(--lineHeightLg);
  align-self: center;
}

.secured-item {
  flex-direction: column;
  margin-bottom: 62px;
}

.secured-description-visa {
  margin-top: 0;
  margin-bottom: 48px;
}

.secured-icon {
  max-width: 120px;
  height: 120px;
  margin: auto;
}

.secured-icon-visa {
  height: 160px;
  max-width: 193px;
}

@media (min-width: 768px) {
  .secured-heading {
    font-size: var(--fontSizeXl);
    line-height: var(--lineHeight4Xl);
    margin-top: 80px;
  }

  .secured-content {
    padding-top: 45px;
    padding-bottom: 25px;
  }

  .secured-item {
    flex-direction: column-reverse;
    margin-top: 35px;
    margin-bottom: 45px;
  }

  .secured-description {
    font-size: var(--fontSizeMd);
    margin-bottom: 0;
  }

  .secured-icon {
    max-width: 193px;
    height: 175px;
  }
}

@media (min-width: 992px) {
  .secured {
    margin-top: 48px;
    margin-bottom: 80px;
  }

  .secured-heading {
    font-size: var(--fontSize3Xl);
    line-height: var(--lineHeight6Xl);
    margin: 70px auto;
  }

  .secured-content {
    align-items: center;
    padding: 10px 37px 95px;
    flex-direction: row;
    justify-content: space-around;
  }

  .secured-item {
    flex-direction: column;
    margin-bottom: 0;
  }

  .secured-description {
    max-width: 230px;
  }

  .secured-icon {
    height: 177px;
    max-width: 300px;
    justify-content: center;
    align-items: center;
  }

  .secured-icon > img {
    height: auto;
    max-width: 300px;
  }

  .sercure-icon-authentication > img {
    height: 100px;
  }

  .secured-info {
    margin-top: 48px;
    margin-bottom: 80px;
  }
}
