---
import Button from 'components:Button/index';
import Heading from 'components:Heading/index';
import './styles.css';
---

<section class="card-info">
  <div class="container">
    <div class="d-flex-column card-info-thumb">
      <div class="text-center card-info-image">
        <img src="assets/images/GetCardInfor/dodge-card.png" alt="Dodge Card" />
      </div>
      <div class="text-center d-flex-column card-info-content">
        <Heading size="sm" className="card-info-heading">New to Doge?</Heading>
        <p class="card-info-description">
          DogeCard is the easiest way to get started. Join the waitlist to be
          the first to get a card.
        </p>
        <Button className="card-info-button">Sign Up</Button>
      </div>
    </div>
  </div>
</section>
