---
import Heading from 'components:Heading/index';
---

<section class="get-card-info">
  <div class="container">
    <div class="get-card-info-image">
      <img src="assets/images/GetCardInfor" alt="Dodge Card" />
    </div>
  </div>
</section>
