---
import Button from 'components:Button/index';
import Heading from 'components:Heading/index';
import './styles.css';
---

<section class="get-card-info">
  <div class="container">
    <div class="d-flex-column get-card-info-main">
      <div class="get-card-info-image">
        <img src="assets/images/GetCardInfor/dodge-card.png" alt="Dodge Card" />
      </div>
      <div class="text-center d-flex-column get-card-info-content">
        <Heading size="sm" className="get-card-heading">New to Doge?</Heading>
        <p class="get-card-description">
          DogeCard is the easiest way to get started. Join the waitlist to be
          the first to get a card.
        </p>
        <Button className="get-card-button">Sign Up</Button>
      </div>
    </div>
  </div>
</section>
