.card-info {
  margin-top: 40px;
}

.card-info-thumb {
  align-items: center;
}

.card-info-image {
  margin-bottom: 40px;
}

.card-info-content {
  margin-top: 40px;
}

.card-info-description {
  line-height: var(--lineHeightSm);
  padding: 15px 0 50px;
}

.card-info-button {
  min-width: var(--btnWidthMd);
  margin: auto;
}

@media (min-width: 768px) {
  .card-info-description {
    font-size: var(--fontSizeLg);
    line-height: 32px;
    max-width: 525px;
  }
}

@media (min-width: 992px) {
  .card-info {
    padding-top: 80px;
  }

  .card-info-thumb {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .card-info-image {
    width: 100%;
  }

  .card-info-content {
    text-align: left;
  }

  .card-info-heading {
    font-size: var(--fontSize3Xl);
  }

  .card-info-description {
    padding: 32px 0 48px;
  }

  .card-info-button {
    min-width: var(--btnWidthLg);
  }
}
