/* style introduction section */
.member-card-introduction:first-of-type {
  margin-bottom: 30px;
}

.about-team {
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  margin: 80px 0;
}

.about-team-list .about-team-list-item {
  margin-bottom: 20px;
  display: inline-block;
}

.about-team-heading {
  margin-bottom: 80px;
  text-align: center;
}

@media (min-width: 768px) {
  .about-team {
    flex-direction: row;
    margin: 150px 0;
  }

  .about-team-list {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .about-team {
    margin: 100px 0;
  }

  .about-team-list {
    column-count: 3;
  }
}
