---
import CardInfo from 'components:CardInfo/index';
import './styles.css';
---

<section class="card-info">
  <div class="container">
    <CardInfo
      className="card-info-doge"
      imageUrl="assets/images/GetCardInfor/dodge-card.png"
      heading="New to Doge?"
    >
      <p class="card-info-description">
        DogeCard is the easiest way to get started. Join the waitlist to be the
        first to get a card.
      </p>
    </CardInfo>

    <CardInfo
      className="card-info-rewards"
      imageUrl="assets/images/GetCardInfor/doge-reward.png"
      heading="Earn Dogecoin Rewards"
    >
      <p class="card-info-description">
        DogeCard is the easiest way to get started. Join the waitlist to be the
        first to get a card.
      </p>
    </CardInfo>

    <CardInfo
      className="card-info-grow"
      imageUrl="assets/images/GetCardInfor/dodge-grow.png"
      heading="Watch your Rewards Grow"
    >
      <p class="card-info-description">
        DogeCard is the easiest way to get started. Join the waitlist to be the
        first to get a card.
      </p>
    </CardInfo>

    <CardInfo
      className="card-info-control"
      imageUrl="assets/images/GetCardInfor/doge-control.png"
      heading="You’re in control"
    >
      <p class="card-info-description">
        DogeCard is the easiest way to get started. Join the waitlist to be the
        first to get a card.
      </p>
    </CardInfo>
  </div>
</section>
