---
import CardInfo from 'components:CardInfo/index';
import './styles.css';
---

<section class="card-info">
  <div class="container">
    <CardInfo
      className="card-info-doge"
      src="assets/images/GetCardInfor/dodge-card.png"
      alt="Doge Card"
      heading="New to Doge?"
      description="DogeCard is the easiest way to get started. Join the waitlist to be the first to get a card."
    />

    <CardInfo
      className="card-info-rewards"
      src="assets/images/GetCardInfor/doge-reward.png"
      alt="Dogecoin Rewards"
      heading="Earn Dogecoin Rewards"
      description="Earn Dogecoin Rewards Switch to DogeCard and earn back 1.5% of every purchase in Dogecoin.*"
    />

    <CardInfo
      className="card-info-grow"
      src="assets/images/GetCardInfor/dodge-grow.png"
      alt="Rewards Grow"
      heading="Watch your Rewards Grow"
      description="Pay your bills with DogeCard and watch as your Rewards grow."
    />

    <CardInfo
      className="card-info-control"
      src="assets/images/GetCardInfor/doge-control.png"
      alt="Card Control"
      heading="You’re in control"
      description="You’re always in control with notifications and transaction alerts"
    />
  </div>
</section>
