---
import Heading from 'components:Heading/index';

// Styles
import './styles.css';
---

<div class="referral-info">
  <div class="referral-info-content">
    <div class="text-center d-flex-column referral-info-header">
      <p class="referral-info-text">Next</p>
      <Heading size="sm" className="hero-heading" uppercase>
        INVITE FRIENDS, GET $25 in DOGECOIN
      </Heading>
      <p class="referral-info-sub-title">For each friend who uses your link</p>
    </div>
  </div>
</div>
