---
import Heading from 'components:Heading/index';

// Styles
import './styles.css';
---

<div class="d-flex-column referral-card-info">
  <div class="text-center referral-card-head">
    <p class="referral-card-text">Next</p>
    <Heading size="sm" className="hero-heading">
      Invite Friends, Get $25 in Dogecoin
    </Heading>
    <p class="referral-card-text">For each friend who uses your link</p>
  </div>
</div>
