.referral-card-info {
  background-color: var(--colorSecondary);
  border-radius: 20px;
  padding: 60px 20px 20px;
}

.referral-card-head .hero-heading {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .referral-card-head {
    text-align: start;
  }

  .hero-heading {
    font-size: var(--fontSizeXl);
  }

  .referral-card-text {
    line-height: var(--lineHeightXs);
  }
}

@media (min-width: 1200px) {
  .referral-card-info {
    width: 54%;
  }

  .referral-card-head {
    padding-left: 60px;
  }

  .hero-heading {
    font-size: 36px;
    line-height: 43px;
  }
}
