.referral-card-info {
  background-color: var(--colorSecondary);
  border-radius: 20px;
  padding: 60px 20px 20px;
}

.referral-info-heading {
  margin: 10px 0;
}

.referral-info-sub-heading {
  color: var(--colorPrimary);
  font-size: var(--fontSizeMd);
  margin: 20px 0 10px;
}

.referral-info-item {
  margin-top: 10px;
}

.referral-info-list > li::marker {
  font-weight: var(--fontWeightBold);
}

.referral-info-list > li::before {
  padding-left: 5px;
}

.referral-card-content {
  justify-content: space-between;
}

.referral-social-description {
  line-height: var(--lineHeight6Xl);
}

.referral-social-icon {
  align-items: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .referral-card-info {
    padding: 50px 30px;
  }

  .referral-info-heading {
    font-size: var(--fontSizeXl);
  }

  .referral-info-sub-heading,
  .referral-card-head {
    text-align: start;
  }

  .referral-info-sub-heading {
    font-size: var(--subTitleFontSize);
  }

  .referral-card-description {
    line-height: var(--lineHeightXs);
  }

  .referral-info-item {
    font-size: var(--fontSizeXl);
  }

  .referral-card-content {
    flex-direction: column;
  }

  .referral-social-icon {
    margin-top: 7px;
  }
}

@media (min-width: 1200px) {
  .referral-card-info {
    padding: 40px 60px 60px;
    width: 55%;
  }

  .referral-info-heading {
    font-size: var(--fontSize3Xl);
    line-height: 43px;
  }
}
