---
import CommunityIntroduction from 'sections:Community/CommunityIntroduction/index';
// import CommunityPostCardList from 'sections:Community/CommunityPostCardList/index';
import './styles.css';
---

<section class="community">
  <div class="container">
    <CommunityIntroduction />
    <!-- <CommunityPostCardList /> -->
  </div>
</section>
