---
import CommunityIntroduction from 'sections:Community/CommunityIntroduction/index';
import CommunityPostCards from 'sections:Community/CommunityPostCards/index';
import './styles.css';
---

<section class="community">
  <div class="container community-content">
    <CommunityIntroduction />
    <CommunityPostCards />
  </div>
</section>
