---
import ReferralCard from 'sections:Referral/ReferralCard/index';
import ReferralInfo from 'src/sections/Referral/ReferralInfo/index';
import './styles.css';
---

<section class="referral">
  <div class="container">
    <div class="d-flex referral-content">
      <ReferralCard />
      <ReferralInfo client:load />
    </div>
  </div>
</section>
