---
import Introduction from 'sections:Community/Introduction/index';
import PostCardList from 'sections:Community/PostCardList/index';
import './styles.css';
---

<section class="community">
  <div class="container">
    <Introduction />
    <PostCardList />
  </div>
</section>
