---
import Heading from 'components:Heading/index';

// Styles
import './styles.css';
---

<div class="community-introduction">
  <div class="community-image">
    <img src="assets/images/community/community.png" alt="DogeCard community" />
  </div>
  <div class="community-content">
    <Heading size="md">Built for the Dogecoin community.</Heading>
    <p class="community-description">
      DogeCard is built for, and by the Doge community.
    </p>
  </div>
</div>
