.input {
  border-radius: var(--borderRadiusMd);
  outline: 1px solid transparent;
  outline-offset: 1px;
  border: none;
  width: var(--sizeFull);
  line-height: 19px;
}

.input-dark {
  background-color: var(--colorInputDark);
  color: var(--colorText);
}

.input-light {
  color: var(--colorBlack);
}

.input-sm {
  height: 56px;
  padding: 17px 25px;
  font-size: var(--fontSizeBase);
}

.input-md {
  height: 60px;
  font-size: var(--fontSizeBase);
  padding: 20px;
}

.error-message {
  color: var(--colorError);
  text-align: left;
}

.error-border {
  border: 1px solid var(--colorError);
}

@media (min-width: 768px) {
  .input-md {
    height: 80px;
    font-size: var(--fontSizeMd);
    padding: 30px;
  }

  .error-message {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
