.input {
  border-radius: var(--borderRadiusMd);
  outline: 1px solid transparent;
  outline-offset: 1px;
  border: none;
  font-size: var(--fontSizeBase);
  width: var(--sizeFull);
  line-height: 19px;
  padding: 19px 16px;
}

.input-dark {
  background-color: var(--colorInputDark);
}

.input[size='sm'] {
  height: 56px;
}

.input[size='md'] {
  height: 60px;
}

@media (min-width: 768px) {
  .input[size='md'] {
    height: 80px;
  }
}
