.partner-card {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.partner-card-info {
  background-color: var(--colorPartnerCard);
  border-radius: var(--borderRadiusMd);
  min-width: 200px;
  height: 160px;
  justify-content: center;
  margin-bottom: 20px;
  padding: 24px 22px;
  align-items: center;
}

.partner-card-heading {
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .partner-card {
    flex-direction: row;
    text-align: left;
  }

  .partner-card-info {
    margin-bottom: 0;
  }

  .partner-card-content {
    margin-left: 40px;
  }
}
