/* style introduction section */
.about-partner {
  flex-direction: column;
  align-items: center;
}

.about-partner-heading {
  margin-bottom: 5px;
}

.about-partner-description {
  color: var(--colorTextAboutUs);
  line-height: var(--lineHeightXs);
}

.about-partner-list {
  background-color: var(--colorSecondary);
  margin-top: 32px;
  border-radius: 20px;
  flex-direction: column;
}

.about-partner-card {
  padding: 40px 20px;
}

.about-partner-card-description {
  color: var(--colorTextAboutUs);
  font-size: var(--fontSizeSm);
  line-height: var(--lineHeightXs);
}

.about-partner-card img {
  min-width: 200px;
  padding: 10px;
}

@media (min-width: 768px) {
  .about-partner-description {
    font-size: var(--fontSizeMd);
  }

  .about-partner-card .heading {
    font-size: var(--fontSizeLg);
  }

  .about-partner-card-description {
    font-size: var(--fontSizeBase);
    line-height: var(--lineHeightXs);
  }
}

@media (min-width: 1200px) {
  .about-partner-heading {
    line-height: var(--lineHeight6Xl);
  }

  .about-partner-description {
    font-size: var(--fontSize2Xl);
    line-height: var(--lineHeight6Xl);
  }

  .about-partner-list {
    flex-flow: wrap;
    flex-direction: row;
    margin-top: 80px;
    padding: 25px 60px;
  }

  .about-partner-card {
    max-width: 50%;
    padding: 35px 15px;
  }

  .about-partner-card img {
    padding: 0;
  }

  .about-partner-card .heading {
    font-size: var(--subTitleFontSize);
  }

  .about-partner-card-description {
    font-size: var(--fontSizeMd);
    line-height: var(--lineHeightBase);
  }
}
