.card-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 180px;
}

.card-info-heading {
  max-width: 270px;
}

.card-image {
  margin-bottom: 45px;
}

.card-image img {
  max-width: 225px;
  border-radius: 30px;
  transform: rotate(6.99deg);
}

.card-info-reverse .card-image img {
  transform: rotate(-8.01deg);
}

.card-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.card-info-secure .card-info-content {
  margin-top: 0;
}

.card-info-description {
  font-size: var(--fontSizeBase);
  line-height: var(--lineHeightSm);
  margin: 15px 0 50px;
  max-width: 327px;
}

.card-info-button {
  margin: auto;
}

@media (min-width: 768px) {
  .card-info-heading {
    max-width: 475px;
  }

  .card-info-description {
    font-size: var(--fontSizeLg);
    line-height: var(--lineHeightXl);
    max-width: 525px;
  }

  .card-info {
    margin-bottom: 175px;
  }

  .card-info-secure .card-info-content {
    margin-top: 90px;
  }

  .card-info-secure .card-image {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .card-info {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0 70px;
    margin-bottom: 198px;
  }

  .card-info-heading {
    max-width: none;
    font-size: var(--fontSize5Xl);
  }

  .card-image {
    margin-bottom: 0;
    width: 50%;
    text-align: center;
  }

  .card-image img {
    max-width: 292px;
  }

  .card-info-content {
    width: 50%;
    text-align: left;
    align-items: unset;
    margin-top: 0;
  }

  .card-info-description {
    margin: 32px 0 70px;
    font-size: var(--fontSize3Xl);
    line-height: var(--lineHeight6Xl);
    max-width: 716px;
  }

  .card-info-button {
    margin-left: 0;
  }

  .card-info-reverse {
    flex-direction: row;
  }
}
