.input-group {
  flex-direction: column;
}

.input.input-group-item {
  color: var(--colorText);
  text-decoration: underline;
  height: 60px;
}

@media (min-width: 768px) {
  .input-group {
    background-color: var(--colorInputGroup);
    border-radius: var(--borderRadiusMd);
    height: 80px;
    flex-direction: row;
    align-items: center;
  }

  input.input-group-item {
    margin-bottom: 0;
  }

  .input-group-content {
    margin-right: 12px;
  }
}
