---
import './styles.css';

export interface InputGroupProps {
  className?: string;
}

const { className = '' } = Astro.props;
---

<div class={`d-flex input-group ${className}`}>
  <slot />
</div>
