---
export interface ButtonProps {
  onclick: () => void;
}

const { disabled = false, type = '', onclick = () => {} } = Astro.props;
---

<button class="btn" {onclick}>
  <slot />
</button>

<style is:inline>
  @import './assets/styles/button.css';
</style>
