---
import 'styles:button';

export interface ButtonProps {
  onclick: () => void;
}

const { onclick = () => {} } = Astro.props;
---

<button class="btn" {onclick}>
  <slot />
</button>
