---
import './styles.css';

export interface ButtonProps {
  className: string;
  onclick: () => void;
}

const { className = '', onclick = () => {} } = Astro.props;
---

<button class={`btn ${className}`} {onclick}>
  <slot />
</button>
