.btn {
  padding: 17px 16px;
  background-color: var(--colorPrimary);
  color: var(--colorBlack);
  border-radius: var(--borderRadiusBase);
  font-size: var(--fontSizeMd);
  font-family: var(--fontFamilyPrimary);
  font-weight: var(--fontWeightBase);
  min-width: var(--btnWidthMd);
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
