---
import Button from 'components:Button/index';
import './styles.css';
---

<section class="hero">
  <div class="container">
    <form class="hero-form">
      <Button className="hero-button">Sign Up</Button>
    </form>
  </div>
</section>
