---
import Button from 'components:Button/index';
import Heading from 'components:Heading/index';
import DownloadButtonList from 'components:DownloadButtonList/index';
import './styles.css';
---

<section class="d-flex-column hero">
  <div class="container">
    <div class="d-flex-column hero-content">
      <Heading size="md" className="hero-heading" uppercase>
        Get your DogeCard
      </Heading>
      <p class="hero-description">In less than 5 minutes</p>
      <form class="d-flex text-center hero-form">
        <Button className="hero-button">Sign Up</Button>
      </form>
      <DownloadButtonList />
    </div>
  </div>
  <div class="hero-bg"></div>
</section>
