.hero,
.hero-button,
.hero-form {
  width: var(--sizeFull);
}

.hero-content {
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 0 128px;
}

.hero-heading {
  max-width: 250px;
}

.hero-description {
  margin-top: 10px;
  line-height: var(--lineHeightXs);
  font-size: var(--fontSizeMd);
}

.hero-bg {
  color: var(---colorPrimary);
  min-height: var(--heroBgHeightMobile);
  width: var(--sizeFull);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/assets/images/home/bg-hero-mobile.png');
}

.hero-form {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.hero-text-term {
  font-size: var(--fontSizeSm);
  line-height: 17px;
  text-align: left;
  margin-top: 10px;
}

.hero-form-input::placeholder {
  color: var(--colorPlaceholder);
}

.hero-form-alert {
  max-width: 300px;
  position: absolute;
  top: 106px;
}

.hero-button {
  height: fit-content;
}

@media only screen and (min-width: 768px) {
  .hero-content {
    text-align: left;
    align-items: flex-start;
    padding: 13px 0 47px;
  }

  .hero-bg {
    background-image: url('/assets/images/home/bg-hero-tablet.png');
    min-height: var(--heroBgHeightTablet);
  }

  .hero-button {
    width: auto;
    margin-bottom: 0;
  }

  .hero-form {
    flex-direction: row;
  }

  .hero-form-input {
    max-width: 496px;
    min-width: 400px;
    margin-right: 20px;
    padding-left: 24px;
    margin-bottom: 0;
    font-size: var(--fontSizeMd);
    line-height: var(--lineHeightXs);
  }

  .hero-input-wrapper {
    margin-bottom: 10px;
  }

  .hero-text-term {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .hero {
    position: relative;
  }

  .hero-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    padding: 0;
    align-items: flex-start;
    margin-top: 80px;
  }

  .hero-bg {
    background-image: url('/assets/images/home/bg-hero-desktop.png');
    min-height: var(--heroBgHeightMdDesktop);
  }

  .hero-text-term {
    font-size: var(--fontSizeBase);
    max-width: 351px;
  }

  .hero-form {
    padding-top: 30px;
  }

  .hero-form-input {
    margin-right: 15px;
  }
}

@media only screen and (min-width: 1920px) {
  .hero-bg {
    min-height: var(--heroBgHeightDesktop);
  }
}
