/* Styles for Community Introduction Section */
.community-content {
  text-align: center;
  gap: 20px;
}

.community-thumbnail > img {
  max-width: 150px;
}

.community-description {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .community-thumbnail > img {
    max-width: 200px;
  }
}

@media (min-width: 1200px) {
  .community-content {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    text-align: start;
  }

  .community-thumbnail > img {
    max-width: 430px;
  }

  .community-description {
    margin-top: 27px;
  }
}
