---
import Introduction from 'sections:About/Introduction/index';
import OurPartners from 'sections:About/OurPartners/index';
import OurTeam from 'sections:About/OurTeam/index';
import Contact from 'sections:About/Contact/index';

// Styles
import './styles.css';
---

<section class="about-us">
  <div class="container">
    <Introduction />
    <OurPartners />
    <OurTeam />
    <Contact />
  </div>
</section>
