---
import './styles.css';

export interface ReferralCardProps {
  className?: string;
}

const { className = '' } = Astro.props;
---

<div class={`referral-card ${className}`}>
  <div class="mg-auto referral-card-content">
    <div class={`mg-auto referral-card-image`}></div>
  </div>
  <div class="referral-card-step-list">
    <!-- implement feature list -->
  </div>
</div>
