.referral-card {
  margin: auto;
  padding-top: 65px;
}

.referral-card-thumbnail > img {
  max-width: 170px;
  transform: rotate(4.6deg);
  filter: var(--referralCardDropShadow);
}

.referral-card-thumbnail {
  position: relative;
  z-index: 1;
}

.referral-card-content {
  background: var(--colorSecondary);
  backdrop-filter: blur(35px);
  border-radius: 20px;
  padding-top: 80px;
  padding-bottom: 32px;
  max-width: 273px;
  margin: -123px auto 0;
}

@media only screen and (min-width: 768px) {
  .referral-card {
    padding-top: 28px;
  }

  .referral-card-content {
    padding-top: 162px;
    max-width: 350px;
    padding-bottom: 54px;
    margin-top: -154px;
  }

  .referral-card-thumbnail > img {
    max-width: 280px;
  }
}

@media only screen and (min-width: 1200px) {
  .referral-card {
    width: 45%;
    margin: 0;
    padding-top: 105px;
  }

  .referral-card-content {
    padding-top: 217px;
    max-width: 417px;
    padding-bottom: 67px;
  }
}
