.referral-card {
  width: 100%;
  margin: auto;
  padding-top: 65px;
}

.referral-card-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  max-width: 170px;
  min-height: 280px;
  transform: rotate(4.6deg);
  background-image: url('/assets/images/referral/cards/card-visa.png');
  filter: var(--referralCardImage);
}

.referral-card-thumbnail {
  position: relative;
  z-index: 1;
}

.referral-card-content {
  background: var(--colorSecondary);
  backdrop-filter: blur(35px);
  border-radius: 20px;
  padding-top: 80px;
  padding-bottom: 32px;
  max-width: 273px;
  margin: -123px auto 0;
}

@media only screen and (min-width: 768px) {
  .referral-card {
    padding-top: 28px;
  }

  .referral-card-content {
    padding-top: 162px;
    max-width: 349px;
    padding-bottom: 54px;
    margin-top: -154px;
  }

  .referral-card-image {
    max-width: 280px;
    min-height: 375px;
    transform: rotate(0deg);
  }
}

@media only screen and (min-width: 1200px) {
  .referral-card-image {
    max-width: 417px;
    min-height: 426px;
  }

  .referral-card {
    width: 46%;
    margin: 0;
    padding-top: 105px;
  }

  .referral-card-content {
    padding-top: 217px;
    max-width: 417px;
    padding-bottom: 67px;
  }
}
