---
import Heading from 'components:Heading/index';
import './styles.css';

export interface OurPartnerCardProps {
  className?: string;
  imageUrl?: string;
  imageAlt?: string;
  heading?: string;
}

const {
  className = '',
  imageUrl = '',
  heading = '',
  imageAlt = heading,
} = Astro.props;
---

<div class={`d-flex our-partner-card ${className}`}>
  <div class="d-flex our-partner-card-info">
    <img class="our-partner-card-icon" src={imageUrl} alt={imageAlt} />
  </div>
  <div class="our-partner-card-content">
    <Heading size="sm" className="our-partner-card-heading">{heading}</Heading>
    <slot />
  </div>
</div>
