.our-partner-card {
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.our-partner-card-info {
  background-color: var(--colorInputDark);
  border-radius: var(--borderRadiusMd);
  width: 200px;
  height: 160px;
  justify-content: center;
  margin-bottom: 20px;
}

.our-partner-card-icon {
  width: 123px;
}

.our-partner-card-heading {
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .our-partner-card {
    flex-direction: row;
    text-align: left;
  }

  .our-partner-card-info {
    margin-bottom: 0;
  }

  .our-partner-card-content {
    margin-left: 40px;
  }
}
