.splash-content {
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  /* Height of header is 215px for now */
  .main-content-overlap .splash-content {
    padding-top: 215px;
  }
}
