.community-post-card-list {
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  margin-top: 230px;
  margin-bottom: 400px;
}

@media (min-width: 768px) {
  .community-post-card-list {
    flex-direction: row;
  }

  .community-post-card-group {
    width: calc(1 / 3 * 100%);
  }
}
