.community-post-card-list {
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  margin: 80px 0;
}

.community-post-card-group .post-card {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .community-post-card-list {
    flex-direction: row;
    margin: 150px 0;
  }

  .community-post-card-group {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .community-post-card-list {
    margin: 236px 0 400px;
  }

  .community-post-card-group {
    column-count: 3;
  }
}
