---
import './styles.css';

export interface ReferralCardProps {
  className?: string;
}

const { className = '' } = Astro.props;
---

<div class={`referral-card ${className}`}>
  <div class="mg-auto d-flex justify-content-center referral-card-thumbnail">
    <picture>
      <source
        media="(min-width: 768px)"
        srcset="assets/images/referral/desktop/card-visa.webp"
        width="319"
        height="428"
      />
      <source
        media="(min-width: 768px)"
        srcset="assets/images/referral/tablet/card-visa.webp"
        width="330"
        height="100%"
      />
      <img
        src="assets/images/referral/mobile/card-visa.png"
        alt="Referral Card"
        width="204"
        height="100%"
      />
    </picture>
  </div>
  <div class="referral-card-content">
    <ul class="referral-card-step-list">
      <li class="d-flex">
        <i class="referral-card-step-icon ordered"></i>
        Joined waitlist
      </li>
      <li class="d-flex text-highlight">
        <i class="referral-card-step-icon send"></i>
        Send to friends
      </li>
      <li class="d-flex">
        <i class="referral-card-step-icon location"></i>
        Get DogeCard
      </li>
    </ul>
  </div>
</div>
