---
import Heading from 'components:Heading/index';
import './styles.css';
---

<section class="secured">
  <div class="container">
    <div class="d-flex-column secured-info">
      <Heading size="sm" className="secured-heading">
        Your DogeCard is Secured by
      </Heading>
      <div class="d-flex text-center secured-content">
        <div class="d-flex secured-item">
          <picture class="d-flex secured-icon">
            <source
              media="(min-width: 768px)"
              srcset="assets/images/icons/tablet/secured-fdic.svg"
              width="140px"
              height="86px"
            />
            <img
              src="assets/images/icons/secured-fdic.svg"
              alt="FDIC"
              width="106px"
              height="65px"
            />
          </picture>
          <p class="d-flex secured-description">
            $250,000 FDIC insured Evolve Bank & Trust
          </p>
        </div>
        <div class="d-flex secured-item">
          <picture class="d-flex secured-icon">
            <source
              media="(min-width: 768px)"
              srcset="assets/images/icons/tablet/secured-authentication.svg"
              width="100px"
              height="100px"
            />
            <img
              src="assets/images/icons/secured-authentication.svg"
              alt="Authentication"
              width="80px"
              height="80px"
            />
          </picture>
          <p class="d-flex secured-description">
            Bank-grade encryption and authentication
          </p>
        </div>
        <div class="d-flex secured-item">
          <picture class="d-flex secured-icon">
            <source
              media="(min-width: 768px)"
              srcset="assets/images/icons/tablet/secured-visa.svg"
              width="193px"
              height="193px"
            />
            <img
              src="assets/images/icons/secured-visa.svg"
              alt="VISA"
              width="150px"
              height="150px"
            />
          </picture>
          <p class="d-flex secured-description">
            Fraud Protection Zero-Liability guarantee
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
