---
import Heading from 'components:Heading/index';

// Styles
import './styles.css';
---

<div class="d-flex-column about-introduction">
  <div class="about-introduction-content">
    <Heading size="sm" className="about-heading">About us</Heading>
    <p class="about-introduction-description">
      DogeCard is made by Liquidity Financial, a Financial techology and
      services company based in Los Angeles, CA. Our community cards are made
      for, and by the internet’s most passionate communities. We make it easy to
      earn and spend crypto, through our Debit and Credit Cards.
    </p>
  </div>
  <picture class="about-introduction-image">
    <source
      media="(min-width: 768px)"
      srcset="assets/images/about/introduction-tablet.webp"
    />
    <source
      media="(min-width: 1200px)"
      srcset="assets/images/about/introduction-desktop.webp"
    />
    <img
      src="assets/images/about/introduction-mobile.webp"
      alt="DogeCard About us"
      width="100%"
    />
  </picture>
</div>
