/* style introduction section */

.about-introduction {
  align-items: center;
  margin-bottom: 80px;
}

.about-introduction-content {
  text-align: center;
  margin-bottom: 30px;
}

.about-introduction-description {
  line-height: var(--lineHeightSm);
  margin-top: 20px;
  opacity: var(--opacityBase);
}

.about-introduction-image > img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .about-introduction-description {
    line-height: var(--lineHeightBase);
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .about-introduction {
    flex-direction: row-reverse;
    margin-bottom: 150px;
  }

  .about-heading {
    font-size: var(--fontSize7Xl);
  }

  .about-introduction-content {
    text-align: start;
    padding-left: 30px;
    width: 40%;
  }

  .about-introduction-description {
    font-size: var(--fontSizeXl);
    line-height: var(--lineHeight4Xl);
    margin: 24px 0 0;
  }

  .about-introduction-image {
    padding-right: 30px;
    width: 60%;
  }
}

@media (min-width: 1920px) {
  .about-introduction-content {
    padding-left: 60px;
    width: 32%;
  }

  .about-introduction-image {
    padding-right: 60px;
    width: 68%;
  }
}
