---
import './styles.css';

export interface DownLoadButtonProps {
  className?: string;
}

const { className = '' } = Astro.props;
---

<div class={`download-button-list ${className}`}>
  <a
    href="https://apps.apple.com/id/app/"
    class="download-button-item btn-app-store"></a>
  <a
    href="https://play.google.com/store/apps/details?"
    class="download-button-item btn-google-play"></a>
</div>
