---
import './styles.css';

export interface DownLoadButtonProps {
  className?: string;
}

const { className = '' } = Astro.props;
---

<div class={`download-button-list ${className}`}>
  <a href="https://apps.apple.com/id/app/" class="download-button-item">
    <img
      class="app-store"
      src="/assets/images/icons/app-store.png"
      alt="Apple Store"
    />
  </a>
  <a
    href="https://play.google.com/store/apps/details?"
    class="download-button-item"
  >
    <img
      class="google-play"
      src="/assets/images/icons/google-play.png"
      alt="Apple Store"
    />
  </a>
</div>
