.button-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.btn-app-store {
  background-image: url('/assets/images/download/app-store.png');
}

.btn-google-play {
  background-image: url('/assets/images/download/google-play.png');
}

.download-button-item {
  width: 164px;
  height: 56px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.download-button-list {
  width: 335px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .download-button-item {
    width: 192px;
    background-size: auto;
  }

  .download-button-list {
    width: 400px;
  }
}
