.download-button-item {
  width: var(--btnWidthSm);
}

.app-store,
.google-play {
  width: 100%;
  height: auto;
}

.download-button-list {
  width: calc((var(--btnWidthSm) + var(--btnWidthSm)) + 15px);
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .download-button-item {
    width: var(--btnWidthMd);
  }

  .download-button-list {
    width: calc((var(--btnWidthMd) + var(--btnWidthMd)) + 15px);
  }
}
