---
import './styles.css';

export interface SocialIconProps {
  className?: string;
}

const { className = '' } = Astro.props;
---

<div class={`social-menu ${className}`}>
  <a href="#" class="d-flex social-item">
    <img src="assets/images/icons/twitter.svg" alt="Twitter" />
  </a>
  <a href="#" class="d-flex social-item">
    <img src="assets/images/icons/tiktok.svg" alt="Tiktok" />
  </a>
  <a href="#" class="d-flex social-item">
    <img src="assets/images/icons/instagram.svg" alt="Instagram" />
  </a>
</div>
