---
export interface SocialiconProps {
  className?: string;
  imageUrl?: string;
  imageAlt?: string;
  href?: string;
}

const { className = '', imageUrl = '', imageAlt = '', href = '' } = Astro.props;
---

<a class={`d-flex social-icon ${className}`} href={href}>
  <img src={imageUrl} alt={imageAlt} width="100%" height="100%" />
</a>
