---
import THEME_BASE from 'themes:base';
import BaseHead from 'layouts:components/BaseHead/index';
import Header from 'layouts:components/Header/index';
import Footer from 'layouts:components/Footer/index';

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <!-- Header -->
    <Header />

    <!-- Main -->
    <main>
      <slot />
    </main>

    <!-- Footer -->
    <Footer />

    <!-- Global styles -->
    <style
      is:global
      define:vars={{
        ...THEME_BASE
      }}
    >

    </style>
  </body>
</html>
