---
import './styles.css';
import { NAVIGATION } from 'constants:index';

export interface HeaderProps {
  className?: string;
  hasOverlap?: boolean;
}

const { className = '', hasOverlap = false } = Astro.props;

const urlPathName = Astro.url.pathname;
---

<header class={`header ${hasOverlap ? 'header-overlap' : ''} ${className}`}>
  <div class="container">
    <div class="header-content-wrapper">
      <div class="d-flex-column text-center header-content">
        <a class="header-logo" href="/">
          <img src="assets/images/logo.svg" alt="DogeCard" />
          <h1 class="text-center header-logo-heading">
            <span class="text-bold">Doge</span>Card
          </h1>
        </a>
        <nav class="header-nav">
          <ul class="d-flex header-nav-list">
            {
              NAVIGATION.map((item, index) => (
                <li class="header-nav-item">
                  <a
                    class={`header-nav-link ${
                      urlPathName === item.href ? 'active' : ''
                    }`}
                    href={item.href}
                  >
                    {item.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
      <a class="header-icon" href="#">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="assets/images/icons/fdic.svg"
            width="88px"
            height="54px"
          />
          <img
            src="assets/images/icons/fdic.svg"
            alt="Member FDIC"
            width="44px"
            height="27px"
          />
        </picture>
      </a>
    </div>
  </div>
</header>
