---
import './styles.css';

export interface AlertProps {
  className?: string;
  title?: string;
  description?: string;
}

const { className = '', title = '', description = '' } = Astro.props;
---

<div class={`alert ${className}`}>
  <h2 class="text-bold alert-heading">{title}</h2>
  <p class="alert-description">{description}</p>
</div>
