---
import './styles.css';

export interface AlertProps {
  className?: string;
  title?: string;
  description?: string;
}

const { className = '', title = '', description = '' } = Astro.props;
---

<div class={`alert ${className}`}>
  <p class="text-bold alert-title">{title}</p>
  <p class="alert-description">{description}</p>
</div>
