.download-button-item {
  width: var(--btnWidthSm);
}

.download-button-item:first-child {
  margin-right: 15px;
}

.download-button-list img {
  width: 100%;
}

.download-button-list {
  margin-top: 40px;
  display: flex;
}

@media (min-width: 768px) {
  .download-button-item {
    width: var(--btnWidthMd);
  }

  .download-button-list {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .download-button-list {
    margin-left: 0;
    margin-right: 0;
  }
}
