.member-card {
  border-radius: var(--borderRadiusNormal);
  background: var(--colorSecondary);
  padding: 30px;
  text-align: center;
}

.member-card-header {
  padding: 10px;
  max-width: 260px;
  height: 260px;
  margin: auto;
}

.member-card-image {
  max-width: 240px;
  height: 240px;
  margin: auto;
}

.member-card-image > img {
  border-radius: var(--borderRadiusRound);
  width: 100%;
  height: 100%;
}

.member-card-content {
  margin: 30px 0;
}

.member-card-introduction {
  line-height: var(--lineHeightSm);
  opacity: var(--opacityBase);
}

.member-card-divider {
  height: 1px;
  opacity: var(--opacityMd);
  background-image: var(--colorBgMemberCard);
  background-size: 12px 1px, 100% 1px;
  border: none;
}

.member-card-contact {
  flex-direction: column;
  gap: 10px;
  margin: 30px 0;
  opacity: var(--opacityBase);
}

.member-card-link {
  justify-content: center;
}

.member-card-link-item a {
  color: var(--colorPrimary);
  font-size: var(--fontSizeMd);
}

.member-card-link-item span {
  margin-inline: 10px;
}

@media (min-width: 1200px) {
  .member-card {
    max-width: 493px;
  }

  .member-card-header {
    margin-top: 50px;
    margin-bottom: 42px;
  }

  .member-card-content h2 {
    margin-bottom: 20px;
  }

  .member-card-introduction {
    line-height: var(--lineHeightMd);
  }
}
