/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: var(---colorPrimary);
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

body {
  font: var(--fontWeightNormal) var(--fontSizeBase) / 1 var(--fontFamilyPrimary);
  color: var(--colorText);
  background-color: var(--colorBackground);
  background-image: url('/assets/images/bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Common styles */
.container {
  padding-left: var(--containerPaddingSm);
  padding-right: var(--containerPaddingSm);
  margin-left: auto;
  margin-right: auto;
  width: var(--sizeFull);
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: var(--fontWeightBold);
}

.text-highlight {
  color: var(--colorPrimary);
}

.mg-auto {
  margin: auto;
}

.text-normal {
  font-weight: var(--fontWeightNormal);
}

.hightlight-list {
  list-style-type: none;
  counter-reset: item;
}

.hightlight-list > li {
  list-style-type: decimal;
  counter-increment: item;
}

.hightlight-list > li::marker {
  content: '';
}

.hightlight-list > li::before {
  content: counter(item) '.';
  color: var(--colorPrimary);
  padding-right: 10px;
  text-align: center;
  display: inline-block;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    max-width: var(--containerWidthSm);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: var(--fontSizeMd);
    background-image: url('/assets/images/bg-tablet.png');
  }

  .container {
    padding-left: var(--containerPaddingMd);
    padding-right: var(--containerPaddingMd);
    max-width: var(--containerWidthMd);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: var(--containerWidthLg);
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: var(--containerWidthXl);
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    max-width: var(--containerWidth2Xl);
  }
}

/* 1200 and up */
@media (min-width: 1200px) {
  body {
    background-image: url('/assets/images/bg-desktop.png');
  }
}

/* 1920 and up */
@media (min-width: 1920px) {
  .container {
    max-width: var(--containerWidth3Xl);
  }
}
