---
import CardFeature from 'sections:Referral/CardFeature/index';
import ReferralInfo from 'sections:Referral/ReferralInfo/index';
import './styles.css';
---

<div class="container d-flex referral">
  <CardFeature />
  <ReferralInfo />
</div>
