---
import ReferralCard from 'sections:Referral/ReferralCard/index';
import ReferralInfo from 'sections:Referral/ReferralInfo/index';
import './styles.css';
---

<section class="referral">
  <div class="container d-flex d-flex-center">
    <ReferralCard />
    <ReferralInfo />
  </div>
</section>
