---
import ReferralCard from 'sections:Referral/ReferralCard/index';
import ReferralInfo from 'sections:Referral/ReferralInfo/index';
import './styles.css';
---

<div class="container d-flex d-flex-center referral">
  <ReferralCard />
  <ReferralInfo />
</div>
