/* Style for referral page */
.referral-content {
  flex-direction: column;
  padding: 80px 15px 100px;
}

@media only screen and (min-width: 768px) {
  .referral-content {
    padding: 0 40px 95px;
  }
}

@media only screen and (min-width: 1200px) {
  .referral-content {
    flex-direction: row;
    padding: 80px 40px 295px;
  }
}
