/* Style for referral page */
.referral {
  margin: 113px 0 120px;
}

.referral-content {
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .referral {
    margin-top: 50px;
  }

  .referral-content {
    padding: 0 40px 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .referral {
    margin-bottom: 140px;
  }

  .referral-content {
    flex-direction: row;
  }
}
