---
import Button from 'components:Button/index';
import Heading from 'components:Heading/index';
import './styles.css';

export interface CardInfoProps {
  className?: string;
  imageUrl?: string;
  imageAlt?: string;
  heading?: string;
  isReversed?: boolean;
}

const {
  className = '',
  imageUrl = '',
  heading = '',
  imageAlt = heading,
  isReversed = false
} = Astro.props;
---

<div class={`card-info ${isReversed ? 'card-info-reverse' : ''} ${className}`}>
  <div class="text-center card-image">
    <img src={imageUrl} alt={imageAlt} class="card-image-detail" />
  </div>
  <div class="card-info-content">
    <Heading size="sm" className="card-info-heading">{heading}</Heading>
    <slot />
    <Button className="card-info-button">Sign Up</Button>
  </div>
</div>
