---
import Button from 'components:Button/index';
import Heading from 'components:Heading/index';
import './styles.css';

export interface CardInfoProps {
  className?: string;
  imageUrl?: string;
  alt?: string;
  heading?: string;
}

const {
  className = '',
  imageUrl = '',
  heading = '',
  alt = heading
} = Astro.props;
---

<div class={`card-info ${className}`}>
  <div class="text-center card-image">
    <img src={imageUrl} alt={alt} />
  </div>
  <div class="card-info-content">
    <Heading size="sm" className="card-info-heading">{heading}</Heading>
    <slot />
    <Button className="card-info-button">Sign Up</Button>
  </div>
</div>
