.card-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}

.card-info-heading {
  max-width: 270px;
}

.card-image {
  margin-bottom: 40px;
}

.card-image > img {
  max-width: 218px;
}

.card-info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  text-align: center;
}

.card-info-description {
  font-size: var(--fontSizeBase);
  line-height: var(--lineHeightSm);
  margin: 15px 0 50px;
  max-width: 327px;
}

.card-info-button {
  margin: auto;
}

@media (min-width: 768px) {
  .card-info-heading {
    max-width: 460px;
  }

  .card-info-description {
    font-size: var(--fontSizeLg);
    line-height: var(--lineHeightXl);
    max-width: 525px;
  }
}

@media (min-width: 1200px) {
  .card-info {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 135px 40px 173px;
  }

  .card-info-heading {
    max-width: none;
    font-size: var(--fontSize3Xl);
  }

  .card-image {
    margin-bottom: 0;
    width: 50%;
    text-align: center;
  }

  .card-image > img {
    max-width: none;
  }

  .card-info-content {
    width: 50%;
    text-align: left;
    align-items: unset;
    margin-top: 0;
  }

  .card-info-description {
    margin: 32px 0 70px;
    font-size: 30px;
    line-height: var(--lineHeight6Xl);
    max-width: 716px;
  }

  .card-info-button {
    margin-left: 0;
  }

  .card-info-reverse {
    flex-direction: row;
  }
}
