---
import Heading from 'components:Heading/index';

// Styles
import './styles.css';
---

<div class="community-introduction">
  <picture class="community-image">
    <source
      media="(min-width: 1200px)"
      srcset="assets/images/community/desktop/introduction.webp"
      width="440"
      height="440"
    />
    <source
      media="(min-width: 768px)"
      srcset="assets/images/community/tablet/introduction.webp"
      width="250"
      height="250"
    />
    <img
      src="assets/images/community/mobile/introduction.webp"
      alt="DogeCard community"
      width="150"
      height="150"
    />
  </picture>
  <div class="community-content">
    <Heading size="md">Built for the Dogecoin community.</Heading>
    <p class="community-description">
      DogeCard is built for, and by the Doge community.
    </p>
  </div>
</div>
