---
import Introduction from 'sections:AboutUs/Introduction/index';
import OurPartners from 'sections:AboutUs/OurPartners/index';
import OurTeam from 'sections:AboutUs/OurTeam/index';
import ContactUs from 'sections:AboutUs/ContactUs/index';

// Styles
import './styles.css';
---

<section class="about-us">
  <div class="container">
    <Introduction />
    <OurPartners />
    <OurTeam />
    <ContactUs />
  </div>
</section>
