---
import CardInfo from 'components:CardInfo/index';
import './styles.css';
---

<section class="card-info-list">
  <div class="container">
    <CardInfo
      imageUrl="assets/images/card-info/dodge-card.png"
      heading="New to Doge?"
    >
      <p class="card-info-description">
        DogeCard is the easiest way to get started. Join the waitlist to be the
        first to get a card.
      </p>
    </CardInfo>

    <CardInfo
      isReversed={true}
      imageUrl="assets/images/card-info/doge-reward.png"
      heading="Earn Dogecoin Rewards"
    >
      <p class="card-info-description">
        Earn Dogecoin Rewards Switch to DogeCard and earn back 1.5% of every
        purchase in Dogecoin.*
      </p>
    </CardInfo>

    <CardInfo
      imageUrl="assets/images/card-info/sercure.png"
      heading="Fast, Safe and Secure"
    >
      <ol class="card-info-description d-flex-column card-info-secure">
        <li class="card-info-secure-item">
          Your cash is FDIC insured by <a href="#" class="text-highlight"
            >Evolve Bank and Trust up to $250k
          </a>
        </li>
        <li class="card-info-secure-item">
          Your purchases are protected by VISA fraud and liability protection
        </li>
        <li class="card-info-secure-item">
          Your Dogecoin is secured by Zero Hash wallets
        </li>
      </ol>
    </CardInfo>

    <CardInfo
      isReversed={true}
      imageUrl="assets/images/card-info/dodge-grow.png"
      heading="Watch your Rewards Grow"
    >
      <p class="card-info-description">
        Pay your bills with DogeCard and watch as your Rewards grow.
      </p>
    </CardInfo>

    <CardInfo
      imageUrl="assets/images/card-info/doge-control.png"
      heading="You’re in control"
    >
      <p class="card-info-description">
        You’re always in control with notifications and transaction alerts
      </p>
    </CardInfo>
  </div>
</section>
