.card-info {
  padding-block: 80px;
}

.list-item {
  list-style-type: decimal;
  font-size: var(--fontSizeBase);
  line-height: var(--lineHeightBase);
  padding-left: 10px;
  margin-left: 25px;
}

.list-item::marker {
  color: var(--colorPrimary);
}

.card-info-secure {
  text-align: center;
}

@media (min-width: 1200px) {
  .card-info-reverse {
    flex-direction: row;
  }

  .list-item {
    font-size: var(--fontSizeLg);
    line-height: var(--lineHeightXl);
  }
}

@media only screen and (min-width: 1920px) {
  .card-info-secure {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    min-width: 910px;
  }

  .list-item {
    font-size: 30px;
    line-height: var(--lineHeight6Xl);
  }
}
