---
import Heading from 'components:Heading/index';
import TwitterIcon from 'components:SocialIcon/Twitter';
import FacebookIcon from 'components:SocialIcon/Facebook';
import Button from 'components:Button/index';
import Input from 'components:Input/index';
import InputGroup from 'components:InputGroup/index';

// Styles
import './styles.css';
---

<div class="d-flex-column referral-card-info">
  <div class="referral-card-head">
    <p class="referral-card-description">Next</p>
    <Heading size="sm" className="referral-info-heading" uppercase>
      Invite Friends, Get $25 in Dogecoin
    </Heading>
    <p class="referral-card-description">For each friend who uses your link:</p>
  </div>
  <div class="referral-card-body">
    <Heading size="xs" className="text-highlight referral-info-sub-heading"
      >You and your friend get 🤝
    </Heading>
    <ol class="hightlight-list referral-info-list">
      <li class="referral-info-item">$25 in Dogecoin</li>
      <li class="referral-info-item">Move up waitlist</li>
    </ol>
  </div>
  <div class="d-flex referral-social-content">
    <p class="referral-social-description">Share:</p>
    <div class="d-flex referral-social-icon">
      <TwitterIcon href="#" />
      <FacebookIcon href="#" />
    </div>
  </div>
  <div class="d-flex referral-input-group">
    <p class="referral-input-description">Your unique link</p>
    <InputGroup>
      <Input
        size="md"
        className="input-group-item"
        colorScheme="dark"
        readonly={true}
        value="dogecard.co/i8oas"
      />
      <Button className="input-group-content">Copy link</Button>
    </InputGroup>
  </div>
</div>
