---
import './styles.css';
---

<header class="header">
  <div class="container">
    <h1>Header</h1>
  </div>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li><a href="#">Benefit</a></li>
      <li><a href="#">Community</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </nav>
  <a href="#" class="header-icon">
    <img src="assets/images/logos/fdic.svg" />
  </a>
</header>
