---
import './styles.css';
---

<header class="header">
  <div class="container">
    <div class="header-logo">
      <a href="/">
        <img src="assets/images/logo.svg" alt="DogeCard" />
        <h1 class="header-logo-title">DogeCard</h1>
      </a>
    </div>
  </div>
</header>
