---
import './styles.css';
import { ROUTES } from 'src/constants/routes';

export interface HeaderProps {
  className?: string;
  hasOverlap?: boolean;
}

const { className = '', hasOverlap = false } = Astro.props;
---

<header class={`header ${hasOverlap ? 'header-overlap' : ''} ${className}`}>
  <div class="container">
    <div class="header-content-wrapper">
      <div class="d-flex-column text-center header-content">
        <a class="header-logo" href="/">
          <img src="assets/images/logo.svg" alt="DogeCard" />
          <h1 class="text-center header-logo-heading">
            <span class="text-bold">Doge</span>Card
          </h1>
        </a>
        <nav class="header-nav">
          <ul class="d-flex header-nav-list">
            <li class="header-nav-item">
              <a class="header-nav-link active" href={ROUTES.HOME}>Benefits</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href={ROUTES.COMMUNITY}>Community</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href={ROUTES.ABOUT_US}>About us</a>
            </li>
          </ul>
        </nav>
      </div>
      <a class="header-icon" href="#">
        <img src="assets/images/icons/fdic.svg" alt="Member FDIC" />
      </a>
    </div>
  </div>
</header>
