/* TODO: Style for header, just initialize */

.header-logo {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-logo {
    display: flex;
  }

  .header-logo-title {
    font-weight: var(--fontWeightBold);
    font-size: var(--fontSizeLg);
  }
}
