/* TODO: Style for header, just initialize */
.header {
  position: relative;
  z-index: var(--zIndexHeader);
}

.header-content-wrapper {
  position: relative;
  margin: 20px 0 50px;
}

.header-content {
  gap: 40px;
}

.header-logo > img {
  width: 52px;
  height: 52px;
}

.header-logo-heading {
  font-size: var(--fontSizeXs);
  font-weight: var(--fontWeightNormal);
}

.header-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.header-icon > img {
  width: 40px;
}

.header-nav-list {
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.header-nav-item {
  font-size: var(--fontSizeMd);
  color: var(--colorWhite);
  line-height: var(--lineHeightXs);
}

.header-nav-link:active,
.header-nav-link:hover {
  color: var(--colorPrimary);
  font-weight: var(--fontWeightBold);
}

@media only screen and (min-width: 768px) {
  .header-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header-content {
    flex-direction: row;
    gap: 40px;
  }

  .header-nav-list {
    margin-top: 20px;
  }

  .header-nav-item {
    padding-left: 20px;
  }

  .header-icon {
    position: unset;
  }

  .header-icon > img {
    width: 50px;
  }
}

/* Responsive Desktop */
@media only screen and (min-width: 1200px) {
  .header-content-wrapper {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 40px;
  }

  .header-logo-heading {
    font-size: var(--fontSizeLg);
    line-height: var(--lineHeightXl);
  }

  .header-nav-list {
    justify-content: space-evenly;
    margin-top: 40px;
  }

  .header-logo > img {
    width: 105px;
    height: 105px;
  }

  .header-icon > img {
    width: 100px;
  }
}
