.post-card {
  border-radius: 20px;
  background: var(--colorBgPostCard);
  backdrop-filter: blur(35px);
  padding: 24px;
  display: inline-block;
}

.post-card-user,
.post-card-header {
  align-items: center;
}

.post-card-user-fullname,
.post-card-username {
  font-size: var(--fontSizeMd);
  line-height: var(--lineHeightBase);
}

.post-card-username {
  color: var(--colorTextPostCardUsername);
}

.post-card-avatar {
  width: 64px;
  height: 64px;
  vertical-align: middle;
  border-radius: var(--borderRadiusRound);
  margin-right: 12px;
}

.post-card-header {
  justify-content: space-between;
}

.post-card-description {
  margin: 24px 0 16px;
  font-size: var(--fontSizeMd);
  line-height: var(--lineHeightLg);
  display: inline-block;
}

.post-card-thumbnail,
.post-card-thumbnail > img {
  border-radius: 15px;
}

.post-card-thumbnail > img {
  width: 100%;
}

@media (min-width: 1200px) {
  .post-card-description {
    font-size: var(--fontSizeXl);
    line-height: var(--lineHeight2Xl);
  }
}
