.post-card {
  border-radius: 20px;
  padding: 24px;
  background: var(--colorBgPostCard);
  backdrop-filter: blur(35px);
}

.post-card-user,
.post-card-header {
  align-items: center;
}

.post-card-name,
.post-card-username {
  font-size: var(--fontSizeMd);
  line-height: var(--lineHeightBase);
}

.post-card-user-fullname {
  color: var(--colorTextUserNamePostCard);
}

.post-card-avatar {
  width: 64px;
  height: 64px;
  vertical-align: middle;
  border-radius: var(--borderRadiusRound);
  margin-right: 12px;
}

.post-card-header {
  justify-content: space-between;
}

.post-card-description {
  margin: 24px 0 16px;
  font-size: var(--fontSizeXl);
  line-height: var(--lineHeight2Xl);
}

.post-card-thumbnail {
  border-radius: 15px;
}

.post-card-thumbnail > img {
  width: 100%;
}

@media (min-width: 768px) {
  .post-card {
    width: calc(1 / 2 * 100%);
  }
}

@media (min-width: 1200px) {
  .post-card {
    width: calc(1 / 3 * 100%);
  }
}
